#soporte{
	position: center; width:auto; margin-top: 50px

}
#infra{
	position: center; width:auto; margin-top: 50px

}
#net{
	position: center; width:auto; margin-top: 50px

}
#aud{
	position: center; width:auto; margin-top: 50px

}
#out{
	position: center; width:auto; margin-top: 50px

}
